<div ng-app="personalSite">
  	<div class="view-container">
	 	<div id="wrapper">
			<nav id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li>
						<a href="#/">
							<img src="profile.jpg" class="img-responsive img-circle	">
						</a>
					</li>
					<li>
						<a href="#/" id="lora">about me</a>
					</li>
					<li>
						<a href="#/projects" id="lora">projects</a>
					</li>
					<li>
						<a href="#/blog/1" id="lora">blog</a>
					</li>
					<li>
						<a href="#/contact" id="lora">contact</a>
					</li>
				</ul>
			</nav>
		
		<div ng-view></div>

		
		</div>
 	</div>
</div>