<div>
	<h1 class="title-left" style="padding-top:20%;">Contact me</h1>
	<p class="content">Send me a message at tracylei.yq@gmail.com if you have a question, would like a copy of my resume, or just want to say hello!
	</p>
</div>
<div id="icons" class="float_center">
<ul>
<li>
   <a href="https://www.linkedin.com/in/tracylei" title="linkedin" target="_blank">
      <i class="fa fa-linkedin-square"></i>
   </a>
</li>

<li>
   <a href="https://github.com/tracylei" title="github" target="_blank">
      <i class="fa fa-github"></i>
   </a>
</li>

<li>
   <a href="https://www.facebook.com/tracyleii" title="facebook" target="_blank">
      <i class="fa fa-facebook-square"></i>
   </a>
</li>
</ul>
