<div>

	<h1 class="title-left" id="intro">Hi, I'm 
		<span style="color:#CE1076" id="intro">Tracy</span>. 
	</h1>
	<p class="content">
		I am currently a Computer Science undergrad at the University of Waterloo (expected graduation in spring 2018). I have had the most experience with C/C++ and Java but have also worked with JavaScript, HTML/CSS, Ruby, Python and Scheme. I have an insatiable appetite for learning and never shy away from a challenge. I'm excited to apply the skill set I've built to make a lasting impact on the world.
	</p>
	<p class="content">
		Outside of work/school, you might find me enjoying board games with friends (most likely Avalon or Coup), playing the piano, or working on a client engagement with <a href="http://www.aceconsultinggroup.ca">ACE Consulting Group</a>!
	</p>
	<p class="content">
		Feel free to poke around my website to learn more about my projects and past experiences. 
	</p>

<div>		