<div class="container-fluid bg-3 text-center">    
  <h1 class="title-center">Projects</h1><br>
  <span>
  <div class="row">
    <div class="col-md-4">
      <img src="proj1.png" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
      <h4 class="project-title" style="padding-top=5%;padding-bottom=5%;">Personal Website</h4>
      <p class="project-description">
        <br>
        Built to learn <b>Ruby on Rails</b> and <b>AngularJS</b>. Familiarized myself with testing tools such as RSpec and Capybara. Implemented a RESTful API using Rails to load posts and comments. Worked with AngularJS services, directives and applied the concepts of transclusion and dependency injection. 
        <br>

        <button ng-click="toggleModal1()" class="btn btn-warning">Show details</button>
        <modal title="Personal Website" visible="showModal1">
          <img src="proj1.png" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
          <b> Language(s): </b>
          Ruby, Javascript, HTML/CSS
          <br>
          <b>Tool(s) & Framework(s):</b>
           Ruby on Rails (back-end), Rspec (testing), AngularJS (front-end), jQuery(front-end), Postgres (database)
          <br>
          <b>Source code:</b><a href="https://github.com/tracylei/tracylei"> Personal Website</a>
        </modal>

      </p>
    </div>
    <div class="col-md-4"> 
      <img src="proj2.png" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
      <h4 class="project-title" style="padding-top=5%;padding-bottom=5%;">Building Buyer</h4>
      <p class="project-description">
        <br>
        <b>Description:</b>
        Monopoly-styled game built using the MVC architecture; practiced implementing various design patterns (i.e. singleton, decorator) 
        <br>

        <button ng-click="toggleModal2()" class="btn btn-warning">Show details</button>
        <modal title="Personal Website" visible="showModal2">
          <img src="proj2.png" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
          <b> Language(s): </b>
         C++
          <br>
          <b>Source code:</b><a href="https://github.com/tracylei/buildingbuyer"> Building Buyer</a>
        </modal>

      </p>
    </div>
    <div class="col-md-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-thumbnail" style="width:100%;"height="" alt="Image">
      <p>Description</p>
    </div>
  </div>
</div><br>