<div class="container-fluid bg-3 text-center">    
  <h1 class="title-center">Projects</h1><br>
  <span>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/proj1.png" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
      <h4 class="project-title" style="padding-top=5%;padding-bottom=5%;">Personal Website</h4>
      <p class="project-description">
        <br>
        <b> Language(s): </b>
         Ruby, Javascript, HTML/CSS
        <br>
        <b>Tool(s) & Framework(s):</b>
         Ruby on Rails (back-end), Rspec (testing), AngularJS (front-end), jQuery(front-end), Postgres (database)
      </p>
    </div>
    <div class="col-md-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-thumbnail" style="width:100%" alt="Image">
      <p>Description</p>
    </div>
    <div class="col-md-4"> 
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive img-thumbnail" style="width:100%;"height="" alt="Image">
      <p>Description</p>
    </div>
  </div>
</div><br>