/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Contact */

.fa {
	display: inline;
}

.float_center{
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#icons ul {
	position: relative;
  	left: 50%;
}

#icons ul li {
	list-style-type: none;
	float: right;
	display: block;
}

#icons ul li a{
	text-decoration: none;
}

#icons ul li a i {
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
	color:#FF0080;
	transition: all 0.2s ease-in-out;
}

#icons ul li a i:hover {
	color: #CD1076;
}


/* Main Styles */

p {
    margin: 0 0 10px;
}

.title-left{
	margin-top: 0;
	padding-top: 15%;
	margin-left: 10%;
	font-family: "Red Velvet Regular";
}

.title-center{
	margin-top: 0;
	padding-top: 15%;
	font-family: "Red Velvet Regular";
	text-align: center;
}

.content{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
	font-family: 'Lora', serif;
}

@font-face {
  font-family: 'Red Velvet Regular';
  src: font-url("redvelvet-regular-webfont.eot");
  src: font-url("redvelvet-regular-webfont.eot?#iefix") format("embedded-opentype"), 
  		font-url("redvelvet-regular-webfont.svg#icomoon") format("svg"), 
  		font-url("redvelvet-regular-webfont.woff") format("woff"), 
  		font-url("redvelvet-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}